<h1>My_spend_test</h1>

<table>
  <tr>
<th> Merchant </th>
<th> name </th>
<th> amount </th>
<th> tag </th>


</tr>

<% @transactions.each do |transaction| %>

<tr>
<td><%= transaction.merchant.name %></td>
<td><%= transaction.name %></td>
<td>£<%= transaction.amount %></td>
<td><%= transaction.tag.name %></td>
</tr>
<% end %>

<tr>
<td> Total </td>
<td></td>
<td> <%= @total %> </td>
  </tr>
</table>
